.chat{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    background-color: #33363d;
    height: 100vh;

    .chatMessage{
        height: 100vh;
        overflow-y: scroll;
    }

    .chatInput {
        display:flex;
        align-items:center;
        justify-self: space-between;
        padding:15px;
        background-color: #474b53;
        border-radius: 5px;
        margin: 20px;
        color: lightgray;

        form{
            flex-grow: 1;
            input{
                padding: 15px;
                background: transparent;
                border: none;
                outline: none;
                color:white;
                font-size: large;
                width:100%;
            }
            .chatInputButton{
                display: none;
            }
        }

        .chatInputIcons{
            .MuiSvgIcon-root{
                padding:5px;
            }
        }
    }
}